@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Alkatra&family=Dancing+Script:wght@500&family=Merriweather:wght@300&family=Pangolin&display=swap');


html, body {
  height: 100%;
  width: 100%;
  
}
.row button {
     margin: 0px 3px;
     padding: 15px;
     width: 45px;
     border: 2px solid rgb(90, 10, 227);
     cursor: pointer;
     border-radius: 10px;
     font-family: 'Alkatra', cursive;
     
   
}
.row  {
  margin: 12px 0;

}
.row input {
  margin: 0;
  padding: 0;
  border: 2px solid rgb(24, 213, 24);
  width: 218px;
  height: 38px;
  border-radius: 5px;
  font-family: 'Alkatra', cursive;
  font-size: 30px;
 
}

    
    
    
  