@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Alkatra&family=Dancing+Script:wght@500&family=Merriweather:wght@300&family=Pangolin&display=swap');


html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(40, 36, 36);
  color: #fff;
  
}
.row button {
     margin: 0px 3px;
     padding: 15px;
     width: 45px;
     border: 4px solid #444;
     background: #272822;
     color: #fff;
     cursor: pointer;
     border-radius: 10px;
     font-family: 'Alkatra', cursive;
     position: relative;
    

     
   
}
.row button:nth-child(1):hover{
  border-color: #00ff00;
  color: #00ff00;
  box-shadow: 0 0 0 #00ff00;
  animation: box 3s infinite;
  
}
.row button:nth-child(2):hover{
  border-color: #fff01f;;
  color: #fff01f;;
  box-shadow: 0 0 0 #fff01f;
  animation: box 3s infinite;
}
.row button:nth-child(3):hover{
  border-color: #ff1818;
  color: #ff1818;
  animation: box 3s infinite;
  box-shadow: 0 0 0 #ff1818;
  
}
.row button:nth-child(4):hover{
  border-color: #0066ff;
  color: #0066ff;
  animation: box 3s infinite;
  box-shadow: 0 0 0 #0066ff;
  
}
@keyframes box {
   0%{
    box-shadow: #27272c;
     }
     50%{
      box-shadow: 0 0 20px;
     }
     100%{
      box-shadow: #27272c;
     }
}

.row  {
  margin: 12px 0;

}
.row input {
  margin: 0;
  padding: 0;
  border: 2px solid rgb(24, 213, 24);
  width: 218px;
  height: 38px;
  border-radius: 5px;
  font-family: 'Alkatra', cursive;
  font-size: 30px;
 
}

    
    
    
  